.pages-home {
  margin: 0 auto;
  font-size: 30px;
  display: inline-flex;
  
}

.menu{
  margin-left: 10px;
  cursor: pointer;
  color: white;
  margin-top: 75px;
}
.menu:hover {
  text-decoration: underline;
}

.logo2{
  background-image: url(./Logo.png);
  width: 150px;
  height: 150px;
  margin-left: 67px;
  margin-top: 23px;
}

.menuLateral{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
  background-color: #2d62ed;
  border-radius: 28px 0 0 0;
}

.submenus{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tablesLaterais{
  display: flex;
  flex-direction: column;
  width: 1500px;
  min-height: 200px;
  border-radius: 28px;
  align-content: center;
  align-items: center;
  border: 1px solid gray;
  margin-left: 10px;
  margin-bottom:24px;
}

.containerOpcoes{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.tablesLaterais-titulo{
  color: white;
  background-color: #2d62ed;
  min-width: 100%;
  display: flex;
  border-radius: 28px 28px 0 0;
  justify-content: center;
}

.button-sair {
  position: relative;
  background-color: white;
  border: none;
  font-size: 28px;
  color: black;
  padding: 20px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  width: 174px;
  border-radius: 10px;
  margin-left: 59px;
  margin-top: 275px;
  cursor: pointer;

}